.header {
  padding-top: 28px;
  max-width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (min-width: 768px) {
  .header {
    padding-top: 35px;
    max-width: 660px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-top: 40px;
    max-width: 880px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-top: 45px;
  }
}
