.popup {
  position: fixed;
  top: 0; /*Чтобы преекрыло экран*/
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* для наглядности затемнение*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  background-size: contain;
  box-sizing: border-box;
}
